/* ======================================================================================================================================================= */ 
/* STYLES INIT            */ /* ========================================================================================================================== */
/* ======================================================================================================================================================= */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline:0;
}
img{
   border: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family:Tahoma, Geneva, sans-serif;
    /*background-color: white;*/
}
/* ======================================================================================================================================================= */ 
/* DOCUMENT GENERAL STRUCTURE - scaffold */ /* =========================================================================================================== */
/* ======================================================================================================================================================= */
#body3d{/* scene 3d */
    /*position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;*/
}
#body01{ 
    position: absolute;
    top : 0px;
    width:100%;
    /*height:400px;*/
    height:150px;    
    /*background-image:url(../img/body_pattern.png);*/
} 
    #menutopsect{/* menu */
        position: absolute;
        top: 0px;
        width: 100%;
        height: 30px;
        z-index: 2;    
        /*background-image:url(../img/menu03_75.jpg);*/                         
    }    
        #menutopback{/* menu */
            width: 100%;
            height: 30px;
            z-index: 2;

            /* IE10 Consumer Preview */ 
            background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
            /* Mozilla Firefox */ 
            background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
            /* Opera */ 
            background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
            /* Webkit (Safari/Chrome 10) */ 
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #C9C9C9));
            /* Webkit (Chrome 11+) */ 
            background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
            /* W3C Markup, IE10 Release Preview */ 
            background-image: linear-gradient(to top, #FFFFFF 0%, #C9C9C9 100%);
            
            opacity: 0.8;    
            /* background-image:url(../img/menu03_75.jpg);*/                         
        }   
