/* ======================================================================================================================================================= */ 
/* STYLES INIT            */ /* ========================================================================================================================== */
/* ======================================================================================================================================================= */
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline:0;
}
img{
   border: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family:Tahoma, Geneva, sans-serif;
    /*background-color: white;*/
}
/* ======================================================================================================================================================= */ 
/* DOCUMENT GENERAL STRUCTURE - scaffold */ /* =========================================================================================================== */
/* ======================================================================================================================================================= */
#body01{ 
    position: absolute;
    top : 0px;
    width:100%;
    /*height:400px;*/
    height:150px;    
    /*background-image:url(../img/body_pattern.png);*/
} 
    #menutopsect{/* menu */
        position: absolute;
        top: 0px;
        width: 100%;
        height: 30px;
        z-index: 2;    
        /*background-image:url(../img/menu03_75.jpg);*/                         
    }    
        #menutopback{/* menu */
            width: 100%;
            height: 30px;

            /* IE10 Consumer Preview */ 
            background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
            /* Mozilla Firefox */ 
            background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
            /* Opera */ 
            background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
            /* Webkit (Safari/Chrome 10) */ 
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #C9C9C9));
            /* Webkit (Chrome 11+) */ 
            background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
            /* W3C Markup, IE10 Release Preview */ 
            background-image: linear-gradient(to top, #FFFFFF 0%, #C9C9C9 100%);
            
            opacity: 0.8;    
            /* background-image:url(../img/menu03_75.jpg);*/                         
        }   









/* ========================================================================= */ 
/* GLOBAL : przyciski nawigacji */ /* ====================================== */
/* ========================================================================= */
.toolbtn{
    float:right;
    width: 22px;
    height: 22px;
    bottom: 0px;
    display: inline;   
   	color:#003f73;
    font: bold;
    border-color:#003f73;
	border-style:solid;
	border-width:1px;
    box-shadow: 0px 1px 5px #000000; 
    background-color: transparent;     
}
.toolbtn:hover{/*input button "nastepny"*/
    color:#539cff;
    box-shadow: 0px 0px 0px #000000;
}
.toolbtnclose{
    background-image:url(../img/btnclose.png);    
}
.toolbtncenter{
    background-image:url(../img/btncenter.png);    
}
.toolbtnmin{
    background-image:url(../img/btnmin.png);    
}
/* ========================================================================= */ 
/* Kontener 480 : */ /* ==================================================== */
/* ========================================================================= */
.cnt480div{/* global */ /* Glowny div content'u */
	width:480px;
    margin : 0 auto;
   	overflow:hidden;
    opacity: 0;  
    position: absolute;
    z-index: 51; 
}
.h3cnt440title{
    float: left;
    width: 420px; /* + (22 + 10) = 440 */
    padding:10px;
	color:#003f73;
}
.form440{/* global */ /* Glowny formularz content'u */
	float:left;	
	width:440px;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;    
    
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #C9C9C9));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to top, #FFFFFF 0%, #C9C9C9 100%);    
    
    box-shadow: 0px 2px 20px #000000;      
}
.cnt440header{
    width: 440px;
}
.fieldset440{/* global */ /* Glowny formularz content'u */
    border-color:#003f73;
	border-style:solid;
	border-width:1px;
    box-shadow: 0px 2px 20px #000000; 			
}
.cnt440content, .cnt440contentleft, .cnt440contentright {
    width: 438px;    
}
.cnt440contentleft{
    float: left;
}
.cnt440contentright{
    float: right;
}
.cnt440footer{
    width: 440px;    
}
.blockdiv440{
    float: left;
    width: 438px;    
}
.articlepart{/* global */
	width:100%;
}
.articlepart h4{/* global */
	margin-top:10px;
	margin-left:10px;
	font: Tahoma;
	color:#003f73;
}
.articlepart p{/* global */    
	margin-top:10px;
	margin-left:20px;
	margin-right:20px;
    margin-bottom: 10px;    
	font: 12px Tahoma;
	color:#003f73;
	background-color:transparent;
}
.h5inpthidden{
    visibility: hidden;
}
.h5inpt{
	float: right;
    width: 418px;
	margin:20px 10px 0px 10px;
    font: Tahoma;
	color:#003f73;	
	text-align:right;      
}
.h5inptdn{
	margin:20px 10px 20px 10px;      
}
.h5inpt input, .h5inpt select{
    padding: 7px;
	border-color:#003f73;
	border-style:solid;
	border-width:1px;
    box-shadow: 0px 1px 5px #000000;
    font: 13px Tahoma;	
    background-color:white;    
}
.h5inptpsve input{
    padding: 7px;
	border-color:#003f73;
	border-style:solid;
	border-width:1px;
    box-shadow: 0px 1px 5px #000000;
    font: 13px Tahoma;	
    background-color:transparent;    
}
.h5inpt select{
    width: 222px;
}
.formsmallbtn{
    float:right;
    height: 22px;
    display: inline;   
   	color:#003f73;
    margin: 10px 20px 10px 0px;
    font: bold;
    border-color:#003f73;
	border-style:solid;
	border-width:1px;
    box-shadow: 0px 1px 5px #000000; 
    background-color: transparent;      
}
.formsmallbtn:hover{/*input button "nastepny"*/
    color:#539cff;
    box-shadow: 0px 0px 0px #000000;
}

.pickfile{
    float: left;
    width:400px;    
    margin: 8px 0px 7px 20px;  
    padding:3px 0px 3px 0px;
	font: 12px Tahoma;
	color:#003f73;
    background-color:transparent;
}




/* ========================================================================= */ 
/* Kontener 960 : */ /* ==================================================== */
/* ========================================================================= */
.cnt960div{/* global */ /* Glowny div content'u */
	width:960px;
    margin : 0 auto;
   	overflow:hidden;
    opacity: 0;  
    position: absolute;
    z-index: 51; 
}
.h3cnt920title{
    float: left;
    width: 900px; /* + 20 + (22 + 10) = 920 */
    padding:10px;
	color:#003f73;
}
.form920{/* global */ /* Glowny formularz content'u */
	float:left;	
	width:920px;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;    
    
    /* IE10 Consumer Preview */ 
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
    /* Opera */ 
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #C9C9C9));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: linear-gradient(to top, #FFFFFF 0%, #C9C9C9 100%);    
    
    box-shadow: 0px 2px 20px #000000;      
}
.cnt920header{
    width: 920px;
}
.fieldset920{/* global */ /* Glowny formularz content'u */
    border-color:#003f73;
	border-style:solid;
	border-width:1px;
    box-shadow: 0px 2px 20px #000000; 			
}
.cnt920content{
    width: 918px;    
}
.cnt920footer{
    width: 920px;    
}
.blockdiv920{ /* dla podzialu na 1 czesc */
    float: left;
    width: 918px;    
}
.h5div920{ /* dla podzialu na 4 czesci */
    float: left;
    width:878px; /* 20 + 199 + 10 = 229 */
    padding:10px 20px 10px 20px;
	color:#003f73;
}
.blockdiv230{
    float: left;
    width: 217px;
    margin: 0px 0px 10px 10px;
	border-color:#003f73;
	border-style:solid;
	border-width:1px;
    box-shadow: 0px 1px 5px #000000;        
}
.divheight146{
    height:146px;
}
.h5div230{ /* dla podzialu na 4 czesci */
    float: left;
    width:187px; /* 20 + 199 + 10 = 229 */
    padding:10px 10px 10px 20px;
	color:#003f73;
}
.liinput, .liselect{
    padding: 7px;
	border-color:#003f73;
	border-style:solid;
	border-width:1px;
    box-shadow: 0px 1px 5px #000000;
    font: 13px Tahoma;	
    background-color:white;    
}
.liselect{
    width: 215px;    
}
/* ========================================================================= */ 
/* textarea440 : */ /* ==================================================== */
/* ========================================================================= */
.textarea440{
    width:404px;    
    max-width:404px;
    min-height: 58px;
    margin: 0px 10px 20px 10px;
    padding: 6px;
	border-color:#003f73;
	border-style:solid;
	border-width:1px;
    box-shadow: 0px 1px 5px #000000;	
}
.h5440title{
    float: left;
    width: 418px; /* + (22 + 10) = 440 */
    padding:10px;
	color:#003f73;
}
/* ========================================================================= */ 
/* kontener wynikow wyszukiwania : */ /* =================================== */
/* ========================================================================= */
.divinptsearch{/* kontener dla inputu wyszukujacego oraz kontenera listy */
    float: right;
    width: 222px;
    height: 32px;
    overflow: visible;   
}
.divsearchlist{/* kontener z lista */
    max-height: 200px;
    position: relative;
    z-index:52;
    overflow-y: scroll;
    background-color: white;
	border-color:#003f73;
	border-style:solid;
	border-width:1px;
    box-shadow: 0px 1px 5px #000000;
    cursor: default;
    font: 13px Tahoma;
    text-align: left;    
}
.searchlistpos:hover{
    background-color: whitesmoke;	
}










.cntform, .cntdiv{/* global */ /* Glowny formularz content'u */
	float:left;	
	width:920px;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:20px;    
    background: -moz-linear-gradient(top, rgba(201,201,201,1), rgba(255,255,255,1)); /*korekta*/
    background: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#ffffff));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9c9c9', endColorstr='#ffffff');    
    box-shadow: 0px 2px 20px #000000;        
}
/* ========================================================================= */ 
/* GLOBAL : fieldset */ /* ================================================= */
/* ========================================================================= */




