#menutop {/*<!-- PAGE MAIN MENU 02  - - - - - - - - - - - - - - - - - - - -  -->*/
    position: relative;
    top: -30px;
    width: 960px;
    height: 30px;
    margin : 0 auto;
/* the rest in "cssHP/pgmm02HP.css"*/    
} 
/* ========================================================================= */ 
/* 1st level */ /* ========================================================= */
/* ========================================================================= */
.ulmm {
    overflow: hidden; /* BARDZO WAZNE !!!!!!!! */
    padding-left: 20px;	
    text-shadow: 1px 1px 0 rgba(140,140,140,0.2) , -1px -1px 1px rgba(0,0,0,0.2);	
}       			 
.ullimm01{
    float: left; /* BARDZO WAZNE !!!!!!!! */	
    display:inline; /* BARDZO WAZNE !!!!!!!! */
    height:30px; /*55555555555555555*/
    line-height: 30px;
    padding-right:50px;
    color:#003f73;
    cursor:default;  
}
.ullimm01:hover {
    color:#539cff;     
}
.ullimm01:hover .ulliulmm { 
	position: absolute; /* BARDZO WAZNE !!!!!!!! */
    display:block; /*  block BARDZO WAZNE !!!!!!!! */
    height:30px;	
    list-style:none;
}
/* ========================================================================= */ 
/* 2nd level */ /* ========================================================= */
/* ========================================================================= */
.ulliulmm { 
    overflow: hidden; /* BARDZO WAZNE !!!!!!!! */
    display: none; /* BARDZO WAZNE !!!!!!!! */
	width:100%;

            /* IE10 Consumer Preview */ 
            background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
            /* Mozilla Firefox */ 
            background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
            /* Opera */ 
            background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
            /* Webkit (Safari/Chrome 10) */ 
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #C9C9C9));
            /* Webkit (Chrome 11+) */ 
            background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #C9C9C9 100%);
            /* W3C Markup, IE10 Release Preview */ 
            background-image: linear-gradient(to top, #FFFFFF 0%, #C9C9C9 100%);  
}
.ulliullimm {
    float: left; /*OK*/
    display: inline;
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
    color:#003f73;
    cursor:default;
    font-size: small;    
}
.ulliullimm1 {
    padding-left: 20px;   
}
.ulliullimm:hover {
    color:#539cff;     
} 
.amm {	
    /*padding-top:15px; 	 
    padding-bottom:10px;*/
    /*padding-right:50px;*/
    text-decoration:none;
    font-size:16px;
    color:#003f73; 	
}
.amm:hover { 
    color:#539cff;
}  