#menutop {/*<!-- PAGE MAIN MENU 02  - - - - - - - - - - - - - - - - - - - -  -->*/
    position: relative;
    top: -30px;
    width: 960px;
    height: 30px;
    margin : 0 auto;
/* the rest in "cssHP/pgmm02HP.css"*/    
} 
/* ========================================================================= */ 
/* 1st level */ /* ========================================================= */
/* ========================================================================= */
.ulmm {
    overflow: hidden; /* BARDZO WAZNE !!!!!!!! */
    padding-left: 20px;				
} 
.ullimm{
    float: left; /* BARDZO WAZNE !!!!!!!! */	
    display:inline; /* BARDZO WAZNE !!!!!!!! */
    height:30px; /*55555555555555555*/
    line-height: 30px;
    padding-right:50px;
    color:#003f73;
    cursor:default;  
}
.ullimm:hover {
    color:#539cff;     
}
.amm {	
    /*padding-top:15px; 	 
    padding-bottom:10px;*/
    /*padding-right:50px;*/
    text-decoration:none;
    font-size:16px;
    color:#003f73; 	
} 
.amm:hover { 
    color:#539cff;
}